# Ignore PyTorch model files
*.pt
*.pth

# Ignore joblib files
*.joblib

# Ignore Python cached files
__pycache__/
*.pyc

# Ignore .csv files
*.csv

# Ignore .json files
*.json

# Ignore .safetensor files (what is that)
*.safetensors

# Ignore vocab.txt files
*.txt
!requirement.txt

# Ignore everything inside saved_model_params folder
saved_model_params/**/*
!saved_model_params/finbert_utils/*.gitkeep
!saved_model_params/tokenizer_utils/*.gitkeep
!saved_model_params/json_files/*.gitkeep
!saved_model_params/pt_files/*.gitkeep
!saved_model_params/.gitkeep