{% extends "base.html" %}

{% block at_about_us %}{% endblock %}

{% block content %}
<main>
    <div class="top-section">
        <div class="top-section-text-overlay">
            <h1 class="top-section-title">Stock Market Analysis</h1>
            <h1 class="top-section-slogan">Predict, Analyze, Profit.</h1>
            <h3 class="top-section-sub-slogan">Because the best trades start with the right insight.</h3>
        </div>
    </div>

    <hr> 

    <div class="middle-first-container" style="margin-top: -10px; color: #f6f5f5;">
        <div class="middle-first-text-overlay">
            <h1>Analysis, Powered By Machine Learning</h1>

            <div class="middle-first-model-info-container">
                <div>
                    <h3><u>Numerical Machine Learning Model</u><br> for Technical Analysis</h3>
                    <p>Predicts stock trends using historical price data, <br>helping traders optimize strategies</p>
                </div>
                <div>
                    <h3><u>NLP Machine Learning Model</u><br> for Sentiment Analysis</h3>
                    <p>Analyze news and social media sentiment to<br> anticipate market movements and provide actionable insights</p>
                </div>
            </div>

            <div>
                <h2>Together, they power the future of trading and investment</h2>
            </div>

            <div>
                <button class="get-to-action-btn" onclick="location.href = '{{ url_for("home_from_about_us") }}'">Try It Now</button>
            </div>
        </div>
    </div>

    <hr>

    <div class="middle-second-container">
        <h1>About Us</h1>

        <h2>Predict, Analyze, and Gain Insights from Market Data and News</h2>

        <p>
            Stock Market Analysis is a web application built as a Final Year Project. It combines a numerical machine learning model 
            for technical analysis with a FinBERT-based Natural Language Processing model for sentiment analysis. 
            Together, these models provide valuable insights into stock performance and market reactions to news. 
            The application is developed using the Flask framework and designed with HTML, CSS, and JavaScript.
        </p>
    </div>

    <hr>

    <div class="middle-third-container">
        <div>
            <h1>Supported By</h1>
        </div>
        <div class="middle-third-container-img">
            <div>
                <img src="{{ url_for('static', filename='tech_stack/python.jpg') }}">
            </div>
            <div>
                <img src="{{ url_for('static', filename='tech_stack/html_css.jpg') }}">
            </div>
            <div>
                <img src="{{ url_for('static', filename='tech_stack/js.jpg') }}">
            </div>
            <div>
                <img src="{{ url_for('static', filename='tech_stack/sklearn.jpg') }}">
            </div>
        </div>
        <div class="middle-third-container-img">
            <div>
                <img src="{{ url_for('static', filename='tech_stack/pytorch.jpg') }}">
            </div>
            <div>
                <img src="{{ url_for('static', filename='tech_stack/flask.jpg') }}">
            </div>
            <div>
                <img src="{{ url_for('static', filename='tech_stack/tradingview.jpg') }}">
            </div>
        </div>

        <button class="floating-btn" type="button" id="scroll-to-top-btn">
            &uarr;
        </button>
    </div>

    <hr id="special-mention-hr" style="display: none;">
    <div class="special-mention" style="display: none;" id="special-mention">
        <div>
            <h1>Special Mention</h1>
        </div>

        <div>
            <div>
                <img src="{{ url_for('static', filename='cat.gif') }}">
            </div>

            <div>
                <img src="{{ url_for('static', filename='tech_stack/chatgpt.jpg') }}">
            </div>

            <div>
                <img src="{{ url_for('static', filename='tech_stack/youtube.jpg') }}">
            </div>

            <div>
                <img src="{{ url_for('static', filename='tech_stack/cortisol.gif') }}">
            </div>

            <div>
                <img src="{{ url_for('static', filename='cat.gif') }}">
            </div>
        </div>
    </div>
</main>
<script>
    const scroll_btn = document.getElementById("scroll-to-top-btn");
    let clicks = 0

    // scroll to top button
    scroll_btn.addEventListener("click", () => {
        clicks += 1;

        // well this is a joke
        if (clicks == 5) {
            const special_mention = document.getElementById("special-mention");
            const special_mention_hr = document.getElementById("special-mention-hr");
            special_mention_hr.style.display = "block";
            special_mention.style.display = "flex";

            window.scrollTo({
                top: document.body.scrollHeight * 0.9
            });
        } else {
            window.scrollTo({
                top: 0
            });
        }
    })

    // detech how much scroll performed, show button if scrollY > 50%
    window.addEventListener("scroll", () => {
        const scrollY = window.scrollY || window.pageYOffset;
        const docHeight = document.documentElement.scrollHeight;
        const winHeight = window.innerHeight;

        const scrollPercentage = (scrollY / (docHeight - winHeight)) * 100;
        
        if (scrollPercentage > 50) {
            scroll_btn.classList.add("show");
        } else {
            scroll_btn.classList.remove("show");
        }
    });
</script>
{% endblock %}

{% block at_about_us_footer %}{% endblock %}