{% extends "base.html" %}

{% block admin_link %}{% endblock %}

{% block content %}
<main>
    <h1 style="margin-left: 5px;">Admin Login</h1>
    <br>
    <a href="{{ url_for('home') }}" class="return-home"> << Back to main page</a>
    <br> <hr>
    
    <form class="form-container" style="gap: 10px;" action="{{ url_for('admin.admin_login') }}" method="POST">
        <h2>Admin Login</h2>

        <label for="username" class="label-login">Username: </label> <br>
        <input type="text" placeholder="Username" class="input-login" id="username-input" name="username"> <br>

        <label for="password" class="label-login">Password: </label> <br>
        <input type="password" placeholder="Password" class="input-login" id="password-input" name="password"> <br>

        <button class="global-button" style="margin-right: 100px;" type="submit">
            Sign In
        </button>
        <!-- Clear input  -->
        <button class="global-button" id="clearBtn">Clear Input</button>
    </form>
</main>

<script>
    const clearBtn = document.getElementById("clearBtn");
    const username_input = document.getElementById("username-input");
    const password_input = document.getElementById("password-input");
    const error = {{ get_flashed_messages() | tojson }};

    clearBtn.addEventListener("click", e => {
        e.preventDefault();

        username_input.value = "";
        password_input.value = "";
    });

    window.onload = function() {
        if (error.length > 0) {
            alert(error.join("\n"));
        }
    };
</script>
{% endblock %}