{% extends "base.html" %}

{% block admin_page_name %}
<span class="selected">Admin Page</span>
{% endblock %}

{% block at_admin_page %}{% endblock %}

{% block content %}
<main>
    <h2>Welcome Back, Admin</h2>

    <div class="page-center">
        <div class="image-admin">
            <img src="{{ url_for('static', filename='images/placeholder.jpg') }}" class="global-img">
            <p class="global-img-desc">placeholder image</p>

            <button class="global-button" onclick="location.href = '{{ url_for('download.download_historical') }}'">
                Download Dataset
            </button>
        </div>
    </div>

    <div class="button-redirect-admin">
        <button class="global-button" style="margin-right: 20px" 
            onclick="location.href = '{{ url_for('admin.numerical_model') }}'">View Numerical Model</button>
        <button class="global-button" style="margin-left: 20px;" 
            onclick="location.href = '{{ url_for('admin.nlp_model') }}'">View NLP Model</button>
    </div>
</main>
{% endblock %}