{% extends "base.html" %}

{% block head_title %}Confirmation{% endblock %}

{% block admin_link %}<a href="{{ url_for('home') }}" class="admin-link">Return to Main Page</a>{% endblock %}

{% block after_header %}
<br>
<a href="{{ url_for('home') }}" class="return-home"> << Back to Main Page </a>
<hr>
{% endblock %}

{% block content %}
<main>
    <form id="confirmation-form" method="post" action="{{ url_for('waiting_page') }}">
        <div class="input-checking">
            <label for="closing price myr confirmation" class="global-label">Today Closing Price (In MYR): </label>
            <input type="text" value="{{ stock_myr }}" class="global-input" id="price-myr" name="priceMYR" readonly> <br> <br>

            <label for="closing price usd confirmation" class="global-label">Today Closing Price (In USD): </label>
            <input type="text" value="{{ stock_usd }}" class="global-input" id="price-usd" name="priceUSD" style="margin-left: 5px;" readonly> <br> <br> <br>

            <label for="news headline confirmation" class="global-label">Recent News Headline (Topic): </label> <br>
            <input type="text" value="{{ news_headline }}" class="global-input" name="textSentiment" style="width:75%;" readonly>

            <p style="font-size: 20px;">{{ advice_msg | safe }}</p>
        </div>

        <br>

        <hr>

        <br>

        <div class="input-confirmation">
            <h2>Are you sure the data provided is accurate?</h2>
            <p><b>Wrong data</b> will lead to <b>inaccurate results</b>, please make sure the data provided is fully accurate</p>

            <button class="global-button" type="submit" name="confirmationBtn">
                Yes, start predicting
            </button>
            <button class="global-button" style="margin-left: 20px;" type="button"
                onclick="location.href = '{{ url_for('home') }}'">
                No, return to previous page
            </button>
        </div>
    </form>

    <br>

    <strong style="color: red;">The results made by the model are only meant for educational purpose, 
                do not treat it as confirmation for your trading strategy.
    </strong>
</main>

<script>
    price_usd = document.getElementById("price-usd").value;
    confirmation_form = document.getElementById("confirmation-form");

    if (isNaN(parseFloat(price_usd))) {
        throw new Error("Input cannot be None. Please return to main page and input a valid closing price")
    }
</script>
{% endblock %}