{% extends "base.html" %}

{% block main_page %}{% endblock %}

{% block content %}
<!-- Stock info -->
 <main>
    <div>
        <h1>Stock Market Analysis</h1>
    </div>

    <hr>
    
    <div style="margin-bottom: 20px; margin-top: 20px;">
        <h2 id="stock-title">AAPL Stock Price - By TradingView</h2>
        <!-- TradingView Widget BEGIN -->
        <div id="tv-chart-wrapper">
            <div class="tradingview-widget-container">
                <div id="tv-chart-container" style="height: 60vh; width: 100%;"></div>
                <script src="https://s3.tradingview.com/tv.js"></script>
            </div>
            <div class="stock-list" id="stock-list">
                <button data-symbol="AAPL" class="stock-link stock-active">AAPL</button>
                <button data-symbol="MSFT" class="stock-link">MSFT</button>
                <button data-symbol="BA" class="stock-link">BA</button>
                <button data-symbol="AMZN" class="stock-link" style="border-right: none">AMZN</button>
            </div>
        </div>
        <!-- TradingView Widget END -->

        <div class="stock-info-container">
            <div>
                <h1 id="stock-price" style="color: {{ display_color }}">{{ '%.2f'|format(latest_closing_price) }}</h1>
                <p id="stock-display-color" style="color: {{ display_color }}">
                    {% if closing_price_diff > 0 %} + {% endif %}
                    {{ '%.2f'|format(closing_price_diff) }}
                </p>
                <p id="stock-diff-percentage" style="color: {{ display_color }}">
                    {% if diff_percentage > 0 %} + {% endif %}
                    {{ '%.2f'|format(diff_percentage) }}
                </p>
            </div>

            <div>
                <p id="stock-symbol-name">Apple Inc - NASDAQ</p>
                <p id="stock-brief-info">Electronic Technology and Telecommunications Equipment</p>
            </div>
        </div>
        
        <button class="global-button" id="download-btn" data-symbol="AAPL">
            Download AAPL Dataset
        </button>
    </div>

    <hr>

    <form action="{{ url_for('get_data') }}" method="post">
        <h2>Stock Market Prediction</h2>

        <div id="input-closing-price">
            <label for="select-stock" class="global-label">Select Stock (Price will be auto update after selecting one): </label>
            <div class="select-stock-btn-list">
                <button data-symbol="AAPL" class="select-stock-btn stock-selected" type="button" style="border-left: none;">AAPL</button>
                <button data-symbol="MSFT" class="select-stock-btn" type="button">MSFT</button>
                <button data-symbol="BA" class="select-stock-btn" type="button">BA</button>
                <button data-symbol="AMZN" class="select-stock-btn" type="button" style="border-right: none;">AMZN</button>
            </div>

            <strong id="stock-warning" style="display: none; margin-top: 10px; color: red;"></strong> <br>
            <!-- Input number, others will auto fill in during conversion -->
            <label for="price-myr" class="global-label">Enter Today's Closing Price (In MYR):</label>
            <input type="number" id="price-myr" placeholder="RM" step="0.01" class="global-input" 
            name="stockPriceMYR" value="{{ '%.2f'|format(latest_closing_price * conversion_rate) }}"> <br> <br>

            <label for="price-usd" class="global-label">Enter Today's Closing Price (In USD):</label>
            <input type="number" id="price-usd" placeholder="USD" step="0.01" class="global-input" 
            style="margin-left: 5px" name="stockPriceUSD" value="{{ '%.2f'|format(latest_closing_price) }}"> <br> <br>

            <p style="font-size: 120%">Current conversion rate: </p>
            <p style="font-size: 120%; margin-top: -10px">1 USD: {{ '%.2f'|format(conversion_rate) }} MYR</p>

            <p id="loading-msg"></p>

            <hr>

            <!--Display error message-->
            <p>{{ error }}</p>
            {% if show_error %}
            <script>
                const input_section = document.getElementById("input-closing-price");
                input_section.scrollIntoView({behaviour: "smooth"});

                setTimeout(() => {
                    const error_msg = {{ error | tojson }}
                    alert(error_msg);
                }, 300);
            </script>
            {% endif %}

        </div>

        <br>

        <div>
            <h2>News Headline</h2>

            <label for="news-headline" class="global-label">Enter Recent News Headline (Topic):</label> <br>
            <input type="text" id="news-headline" placeholder="News headline" class="global-input" style="width: 50%" name="newsHeadline"> <br> <br>
        </div>

        <div>
            <button class="global-button", type="submit" id="predict">Predict</button>

            <h4>Important: Ensure the info is correct before predicting</h4>
            <strong style="color: red">The results made by the model are only meant for educational purpose, 
                do not treat it as confirmation for your trading strategy.
            </strong> <br> <br>
        </div>

        <button class="floating-btn" type="button" id="scroll-to-top-btn">
            &uarr;
        </button>
    </form>
</main>

<script>
    const select_stock_btns = document.querySelectorAll(".select-stock-btn");
    const price_myr = document.getElementById("price-myr");
    const price_usd = document.getElementById("price-usd");
    const retrieve_btn = document.getElementById("retrieve-data");
    const scroll_btn = document.getElementById("scroll-to-top-btn");
    const download_btn = document.getElementById("download-btn");
    const stock_link = document.querySelectorAll(".stock-link");

    // load chart after another stock is selected
    function loadChart(symbol) {
        const container = document.getElementById("tv-chart-container");
        container.innerHTML = "";

        new TradingView.widget({
            "container_id": "tv-chart-container",
            "allow_symbol_change": false,
            "calendar": false,
            "details": false,
            "hide_side_toolbar": true,
            "hide_top_toolbar": true,
            "hide_legend": false,
            "hide_volume": true,
            "hotlist": false,
            "interval": "D",
            "locale": "en",
            "save_image": false,
            "style": "3",
            "symbol": symbol,
            "theme": "dark",
            "timezone": "Asia/Singapore",
            "backgroundColor": "#0F0F0F",
            "gridColor": "rgba(242, 242, 242, 0.06)",
            "watchlist": [],
            "withdateranges": false,
            "compareSymbols": [],
            "studies": [],
            "autosize": true
        });
    }

    // default chart (AAPL)
    loadChart("AAPL");

    // display stock chart and its info
    stock_link.forEach(link => {
        link.addEventListener("click", e => {
            e.preventDefault();

            const active_link = document.querySelector(".stock-link.stock-active");
            active_link.classList.remove("stock-active");
            link.classList.toggle("stock-active");

            const stock_symbol = link.dataset.symbol;

            fetch(`/get_stock_data/${stock_symbol}`)
            .then(response => response.json())
            .then(data => {
                const stock_price = document.getElementById("stock-price");
                // stock_display_color is pointing to difference of stock price from yesterday (this code sucks)
                // TODO: Fix the naming
                const stock_display_color = document.getElementById("stock-display-color");
                const stock_diff_percentage = document.getElementById("stock-diff-percentage");
                const stock_symbol_name = document.getElementById("stock-symbol-name");
                const stock_brief_info = document.getElementById("stock-brief-info");
                const download_btn = document.getElementById("download-btn");
                const stock_title = document.getElementById("stock-title");

                stock_price.style.color = data.display_color;
                stock_display_color.style.color = data.display_color;
                stock_diff_percentage.style.color = data.display_color;

                stock_price.textContent = data.latest_closing_price.toFixed(2);
                if (data.closing_price_diff > 0) {
                    stock_display_color.textContent = "+ " + data.closing_price_diff.toFixed(2);
                    stock_diff_percentage.textContent = "+ " + data.diff_percentage.toFixed(2);
                } else {
                    stock_display_color.textContent = data.closing_price_diff.toFixed(2);
                    stock_diff_percentage.textContent = data.diff_percentage.toFixed(2);
                }

                stock_symbol_name.textContent = data.stock_symbol_name;
                stock_brief_info.textContent = data.stock_brief_info;

                stock_title.textContent = stock_symbol + " Stock Price - By TradingView"
                download_btn.textContent = "Download " + stock_symbol + " Dataset";
                download_btn.dataset.symbol = stock_symbol

                // load tradingview chart
                loadChart(stock_symbol);
            });
        });
    });

    // currency conversion
    price_myr.addEventListener("input", () => {
        const myr = parseFloat(price_myr.value);

        if (isNaN(myr)) { 
            price_usd.value = ""; 
            return;
        }

        const formData = new FormData();
        formData.append("stockPriceMYR", myr)

        fetch("/convert_to_usd", {method: "POST", body: formData})
        .then(response => response.json())
        .then(results => {
            price_usd.value = parseFloat(results.data).toFixed(2)
        })
    })
    
    price_usd.addEventListener("input", () => {
        const usd = parseFloat(price_usd.value);

        if (isNaN(usd)) { 
            price_myr.value = ""; 
            return;
        }

        const formData = new FormData()
        formData.append("stockPriceUSD", usd)

        fetch("/convert_to_myr", {method: "POST", body: formData})
        .then(response => response.json())
        .then(results => {
            price_myr.value = parseFloat(results.data).toFixed(2)
        })
    })

    // stock button listener, fetch price as well
    select_stock_btns.forEach(btn => {
        btn.addEventListener("click", e => {
            e.preventDefault();

            const stock_selected_btn = document.querySelector(".select-stock-btn.stock-selected");
            const warning = document.getElementById("stock-warning");
            const stock_symbol = btn.dataset.symbol;
            btn.classList.toggle("stock-selected");
            stock_selected_btn.classList.remove("stock-selected");

            if (stock_symbol !== "AAPL") {
                warning.style.display = "block";
                warning.textContent = "The model is trained on AAPL dataset. Using other stock might give incorrect results. Please take note";
            } else {
                warning.textContent = "";
                warning.style.display = "none";
            }

            fetch(`/retrieve_data/${stock_symbol}`, {method: "POST"})
                .then(response => response.json())
                .then(results => {
                    price_usd.value = parseFloat(results.data_usd).toFixed(2);
                    price_myr.value = parseFloat(results.data_myr).toFixed(2);
                })
                .catch(err => console.error(err))
                .finally(() => {
                    loading_msg.innerHTML = "";
            });
        });
    });

    // scroll to top button
    scroll_btn.addEventListener("click", () => {
        window.scrollTo({
            top: 0,
        })
    })

    // detech how much scroll performed, show button if scrollY > 50%
    window.addEventListener("scroll", () => {
        const scrollY = window.scrollY || window.pageYOffset;
        const docHeight = document.documentElement.scrollHeight;
        const winHeight = window.innerHeight;

        const scrollPercentage = (scrollY / (docHeight - winHeight)) * 100;
        
        if (scrollPercentage > 50) {
            scroll_btn.classList.add("show");
        } else {
            scroll_btn.classList.remove("show");
        }
    });

    download_btn.addEventListener("click", () => {
        stock_symbol = download_btn.dataset.symbol;

        location.href = "/download_historical/" + stock_symbol;
    });
</script>
{% endblock %}