<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Model Testing</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='global_css.css') }}">
</head>
<body>
    <header class="header-container">
        <h1>Test Model Performance</h1>
        <nav>
            <div class="dropdown">
                <button class="dropbtn">AAPL ▼</button>
                <div class="dropdown-content">
                    <a href="">AAPL</a>
                    <a href="">Alphabet</a>
                    <a href="">Stock 3</a>
                </div>
            </div>
            <a href="{{ url_for('home') }}" class="admin-link">Return to User Page</a>
        </nav>
    </header>

    <br>

    <form action="{{ url_for('admin.upload_files') }}" class="form-model_testing", 
        method="post" enctype="multipart/form-data" id="upload-form">
        <img src="{{ url_for('static', filename='images/placeholder.jpg') }}">

        <label for="upload numerical dataset" class="global-label">Upload new numerical dataset features (in .csv format): </label> <br>
        <label for="instruction">(Instructions)</label> <br> 
        <input type="file" accept=".csv" name="file_num"> <br> <br> <br>

        <label for="upload nlp dataset" class="global-label">Upload new NLP dataset features (in .csv format): </label> <br>
        <label for="instruction">(Instructions)</label> <br> 
        <input type="file" accept=".csv" name="file_nlp"> <br> <br>

        <button class="global-button" type="submit">
            Test Model
        </button> <br>

        <p id="display-waiting"></p>
    </form>

    <hr>

    <div>
        <h2>Model Results: </h2>

        <ul id="num-result"></ul>
        <ul id="nlp-result"></ul>

        <div class="img-text-display">
            <div class="image-wrapper"> 
                <img src="{{ url_for('static', filename='images/placeholder.jpg') }}"> 
                <p>Text 1</p> 
            </div>
            <div class="image-wrapper"> 
                <img src="{{ url_for('static', filename='images/placeholder.jpg') }}"> 
                <p>Text 2</p>
            </div>
        </div>
    </div>

    <div class="model-button-position">
        <button class="global-button" 
            onclick="location.href = '{{ url_for('admin.numerical_model') }}'">
            View Numerical Model
        </button>

        <button class="global-button" 
            onclick="location.href = '{{ url_for('admin.nlp_model') }}'">
            View NLP Model
        </button>

        <button class="global-button" 
            onclick="location.href = '{{ url_for('admin.admin_page') }}'">
            Return to Admin Page
        </button>
    </div>

    <script>
        const num_ul = document.getElementById("num-result");
        const nlp_ul = document.getElementById("nlp-result");
        const form = document.getElementById("upload-form");
        const display_waiting = document.getElementById("display-waiting")

        function appendul(listId, result) {
            const ul = document.getElementById(listId);
            
            result.forEach(value => {
                const li = document.createElement("li");
                li.textContent = value;
                ul.appendChild(li);
            });
        }

        form.addEventListener("submit", e => {
            e.preventDefault();
            display_waiting.innerHTML = "Model testing, this will take a while. Please wait... (Estimated 15 seconds)"
            num_ul.innerHTML = "";
            nlp_ul.innerHTML = "";

            const formData = new FormData(form);
        
            fetch("/upload_files", {method: "POST", body: formData})
            .then(response => response.json())
            .then(res => {
                if (res.error) {
                    alert(res.error);
                    display_waiting.innerHTML = "Please upload at least one file in one of the field"
                    return;
                }

                appendul("num-result", [res.num_precision, res.num_recall, res.num_f1]);
                appendul("nlp-result", [res.nlp_precision, res.nlp_recall, res.nlp_f1]);
                display_waiting.innerHTML = "Model testing completed"
            });
        });
    </script>
</body>
</html>