{% extends "base.html" %}

{% block admin_page_name%}
<span class="selected">NLP Model</span>
{% endblock %}

{% block at_nlp_model %}{% endblock %}

{% block after_header %}
<br>
<a href="{{ url_for('admin.admin_page') }}" class="return-home"> << Back to admin page</a>
<br>
{% endblock %}

{% block content %}
<main>
    <h3 style="margin: 5px; font-size: 25px">Parameter used by model</h3>
    <div class="nlp-parameter-info">
        <div>
            <h3>Hyperparameter List</h3>
            <ul class="numerical-parameter-list">
                <li>Model Used: {{ model_name }}</li>
                {% for params, value in params.items() %}
                <li>{{ params }}: {{ value }}</li>
                {% endfor %}
            </ul>
        </div>
        <div>
            <h3>Loss Parameter</h3>
            <ul class="numerical-parameter-list">
                {% for params, value in loss_params.items() %}
                <li>{{ params }}: {{ value }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <hr>

    <h3 style="margin: 5px; font-size: 25px">Scoring: </h3>
    <div class="nlp-scoring-info">
        <div>
            <h3>Negative</h3>
            <ul class="numerical-scoring-list">
                {% for metric, value in metrics["class_-1"].items() %}
                <li>{{ metric }}: {{ '%.4f'|format(value) }}</li>
                {% endfor %}
            </ul>
        </div>

        <div>
            <h3>Neutral</h3>
            <ul class="numerical-scoring-list">
                {% for metric, value in metrics["class_0"].items() %}
                <li>{{ metric }}: {{ '%.4f'|format(value) }}</li>
                {% endfor %}
            </ul>
        </div>

        <div>
            <h3>Positive</h3>
            <ul class="numerical-scoring-list">
                {% for metric, value in metrics["class_1"].items() %}
                <li>{{ metric }}: {{ '%.4f'|format(value) }}</li>
                {% endfor %}
            </ul>
        </div>

        <div style="margin-left: 50px;">
            <h3>Confusion Matrix</h3>
            <div class="nlp-confusion">
                {% for rows in confusion %}
                    {% for cols in rows %}
                    <div>{{ cols }}</div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div>
        <p style="font-size: 20px; margin-left: 5px;"><b>Overall Accuracy</b>: {{ '%.4f'|format(metrics["accuracy"]) }}</p>
    </div>
    
    <hr>

    <div class="img-text-display">
        <div class="image-wrapper">
            <img src="{{ url_for('static', filename='images/nlp_model/prc_curve.jpg') }}">
            <p>Precision Recall Curve</p>
        </div>

        <div class="image-wrapper">
            <img src="{{ url_for('static', filename='images/nlp_model/roc_curve.jpg') }}">
            <p>Receiver Operating Characteristic Curve</p>
        </div>

        <div class="image-wrapper">
            <img src="{{ url_for('static', filename='images/nlp_model/threshold_tuning_class0_class1.jpg') }}">
            <p>Precision/Recall/F1 scores for all threshold (Negative/Neutral)</p>
        </div>

        <div>
            <button class="global-button" style="margin-bottom: 50px;" 
                onclick="location.href = '{{ url_for('admin.model_testing') }}'">
                Test Model Performance
            </button>
        </div>
    </div>

    <div class="model-button-position">
        <button class="global-button" 
            onclick="location.href = '{{ url_for('admin.numerical_model') }}'">
            View Numerical Model
        </button>
        
        <button class="global-button" style="margin-right: 20px;" 
            onclick="location.href = '{{ url_for('admin.admin_page') }}'">
            Return To Admin Page
        </button>
    </div>
</main>
{% endblock %}

