{% extends "base.html" %}

{% block head_title%}Numerical Model{% endblock %}

{% block admin_link %}<a href="{{ url_for('home') }}" class="admin-link"> Return to Main Page</a>{% endblock %}

{% block after_header %}
<br>
<a href="{{ url_for('admin.admin_page') }}" class="return-home"> << Back to admin page</a>
<br>
{% endblock %}

{% block content %}
<main>
    <div class="numerical-parameter-info">
        <h3>Parameter used by model</h3>

        <ul class="numerical-parameter-list">
            <li>Parameter 1</li>
            <li>Parameter 2</li>
            <li>Parameter 3</li>
            <li>Parameter 4</li>
        </ul>
    </div>

    <div class="numerical-scoring-info">
        <h3>Scoring: </h3>

        <ul class="numerical-scoring-list">
            <li>Scoring 1</li>
            <li>Scoring 2</li>
            <li>Scoring 3</li>
        </ul>
    </div>

    <div class="img-text-display">
        <div class="image-wrapper">
            <img src="{{ url_for('static', filename="images/placeholder.jpg") }}">
            <p>Text 1</p>
        </div>

        <div class="image-wrapper">
            <img src="{{ url_for('static', filename="images/placeholder.jpg") }}">
            <p>Text 2</p>
        </div>

        <div>
            <button class="global-button" style="margin-bottom: 50px;" 
                onclick="location.href = '{{ url_for('admin.model_testing') }}'">
                Test Model Performance
            </button>
        </div>
    </div>

    <div class="model-button-position">
        <button class="global-button" 
            onclick="location.href = '{{ url_for('admin.nlp_model') }}'">
            View NLP Model
        </button>
        
        <button class="global-button" style="margin-right: 20px;" 
            onclick="location.href = '{{ url_for('admin.admin_page') }}'">
            Return To Admin Page
        </button>
    </div>
</main>
{% endblock %}

{% block admin_mode %}<p style="color: red;"><b>Currently in Admin Mode</b></p>{% endblock %}