{% extends "base.html" %}

{% block admin_page_name%}
<span class="selected">Numerical Model</span>
{% endblock %}

{% block at_numerical_model %}{% endblock %}

{% block after_header %}
<br>
<a href="{{ url_for('admin.admin_page') }}" class="return-home"> << Back to admin page</a>
<br>
{% endblock %}

{% block content %}
<main>
    <h3 style="margin: 5px; font-size: 25px">Parameter used by model</h3>
    <div class="numerical-parameter-info">
        <ul class="numerical-parameter-list">
            <li>Model used: {{ model_name }}</li>
            <li>C: {{ C }}</li>
            <li>Max Iteration (max_iter): {{ max_iter }}</li>
            <li>Class Weight: {{ class_weight }}</li>
        </ul>
    </div>

    <hr>

    <h3 style="margin: 5px; font-size: 25px">Scoring: </h3>
    <div class="numerical-scoring-info">
        <div>
            <h3>Short</h3>
            <ul class="numerical-scoring-list">
                {% for scoring, value in metrics["class_-1"].items() %}
                <li>{{ scoring }}: {{ '%.4f'|format(value) }}</li>
                {% endfor %}
            </ul>
        </div>

        <div>
            <h3>Hold</h3>
            <ul class="numerical-scoring-list">
                {% for scoring, value in metrics["class_0"].items() %}
                <li>{{ scoring }}: {{ '%.4f'|format(value) }}</li>
                {% endfor %}
            </ul>
        </div>

        <div>
            <h3>Long</h3>
            <ul class="numerical-scoring-list">
                {% for scoring, value in metrics["class_1"].items() %}
                <li>{{ scoring }}: {{ '%.4f'|format(value) }}</li>
                {% endfor %}
            </ul>
        </div>

        <div style="margin-left: 50px;">
            <h3>Confusion Matrix</h3>
            <div class="num-confusion">
                {% for rows in confusion %}
                    {% for cols in rows %}
                    <div class="confusion-value">{{ cols }}</div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div>
        <p style="font-size: 20px; margin-left: 5px;"><b>Overall Accuracy</b>: {{ '%.4f'|format(metrics["accuracy"]) }}</p>
    </div>

    <hr>

    <div class="backtesting-result-display">
        <h3 style="font-size: 25px; margin-left: 5px;">Backtesting Results: </h3>
        <ul>
            {% for test, value in backtest_result.items() %}
            <li style="font-size: 20px;">{{test}}: {{'%.4f'|format(value)}}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="img-text-display">
        <div class="image-wrapper">
            <img src="{{ url_for('static', filename="images/numerical_model/prc_curve.jpg") }}">
            <p>Precision Recall Curve</p>
        </div>

        <div class="image-wrapper">
            <img src="{{ url_for('static', filename="images/numerical_model/roc_curve.jpg") }}">
            <p>Receiver Operating Characteristic Curve</p>
        </div>

        <div class="image-wrapper">
            <img src="{{ url_for('static', filename="images/numerical_model/learning_curve.jpg") }}">
            <p>Learning Curve</p>
        </div>

        <div>
            <button class="global-button" style="margin-bottom: 50px;" 
                onclick="location.href = '{{ url_for('admin.model_testing') }}'">
                Test Model Performance
            </button>
        </div>
    </div>

    <div class="model-button-position">
        <button class="global-button" 
            onclick="location.href = '{{ url_for('admin.nlp_model') }}'">
            View NLP Model
        </button>
        
        <button class="global-button" style="margin-right: 20px;" 
            onclick="location.href = '{{ url_for('admin.admin_page') }}'">
            Return To Admin Page
        </button>
    </div>
</main>
{% endblock %}