/*All below are for the nav styling (ts is absolute vibe)*/
:root {
    --primary-nav-color: lightgrey;
    --primary-link-hover-color: #f1f1f1;
    --primary-button-hover-color: grey;
    --header-nav-font-size: 20px;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 10px;
    box-sizing: border-box;
}

.header-container {
    margin-left: -10px;
    margin-right: -10px;
}
.header-container h1 {
    margin: 10px;
    padding: 5px;
}
.header-container nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    background-color: lightgrey;
    padding: 10px;
}
.header-container nav .admin-link {
    margin-right: 10px;
    margin-left: auto;
    padding: 10px;
    display: inline-block;
    color: black;
    border: none;
    text-decoration: none;
    background-color: var(--primary-nav-color);
    font-size: var(--header-nav-font-size);
}
/*Dropdown menu*/
.dropdown {
    position: relative;
}
.dropbtn {
    background-color: var(--primary-nav-color);
    color: black;
    padding: 10px;
    font-size: var(--header-nav-font-size);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    margin: 0px;
    font-size: 20px;
}
.dropdown-content a:hover {
    background-color: var(--primary-link-hover-color);
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: var(--primary-link-hover-color);
    border-radius: 2px;
}
.header-container nav a:hover {
    cursor: pointer;
    color: blue;
    background-color: var(--primary-link-hover-color);
    border-radius: 5px;
}
/* End of nav styling */

/*Styling for this mainpage.html (gonna vibe hard)*/
/* This also uses lots of pre-defined global css style that can be reused in other files */
.global-button {
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
}
.global-img {
    display: block;
    margin: auto;
    margin-top: 10px;
    width: 1000px;
    height: 500px;
}
.global-label {
    font-size: 18px;
}
.global-img-desc {
    text-align: center;
    align-self: center;
}
.global-input {
    padding: 10px;
    width: 30%;
    margin-top: 10px;
}
.global-button:hover {
    cursor: pointer;
    color: var(--primary-button-hover-color);
}
.global-select {
    font-size: 16px;
    padding: 5px;
}
.global-select:hover{
    cursor: pointer;
}

/*Styling for admin_login.html*/
.return-home {
    color: black;
    margin-left: 10px;
    font-size: 20px;
    display: inline;
    width: 100%;
}
.return-home:hover {
    cursor: pointer;
    color: blue;
}
.form-container {
    display: block;
    padding: 20px;
    text-align: center;
    border: 2px solid black;
    width: fit-content;
    margin: auto;
    translate: 0px 50px;
    transform: scale(1.2);
}
.label-login {
    font-size: 20px;
    float: left;
}
.input-login {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

/* Styling for admin_page.html (absolute vibe fr) */
.image-admin {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}
.button-redirect-admin {
    display: block;
    text-align: center;
    margin-top: 30px;
    padding: 10px;
}
.page-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styling for cofirmation.html (all use global css style so none lol */


/* Styling for waiting_page.html */
.processing-center {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    font-size: 15px;
}
.icon-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon {
    width: 30%;
    height: 30%;
    border-radius: 50%;
    margin-top: 25px;
}
.icon-desc {
    text-align: center;
}
.tip-container {
    display: flex;
    padding: 20px;
    padding-left: 100px;
    padding-right: 100px;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    border-radius: 5px;
}
.tip-container h3, .tip-container p {
    margin: 0px;
    padding: 5px;
    font-size: 17.5px;
}

/* Styling for numerical_model.html and nlp_model.html*/
/* Reused in nlp_model.html, model_testing.html */
.img-text-display {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    padding: 10px;
    gap: 10px 20px;
}
.image-wrapper img {
    width: 100%;
    height: 300px;
    align-items: center;
    display: block;
    margin: auto;
}
.image-wrapper p {
    text-align: center;
}
/* Reused above ended */

.model-button-position {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Reused in model_testing.html */
.model-button-position button {
    margin: 20px;
}

/* Styling for model_testing.html */
.form-model_testing {
    padding: 10px;
    overflow: hidden;
}
.form-model_testing input {
    font-size: 100%;
    margin-top: 10px;
}
.form-model_testing img {
    float: right;
    width: 20%;
    height: 20%;
    border-radius: 50%;
    margin-right: 50px;
    position: static;
}
