/*All below are for the nav styling (ts is absolute vibe)*/
:root {
    --primary-nav-color: lightgrey;
    --primary-link-hover-color: #f1f1f1;
    --primary-button-hover-color: grey;
    --header-nav-font-size: 18px;
    --nav-color: #81bdef;
    --nav-color-list-hover: #0d47a1;
    --nav-height: 80px;
    --admin-display-height: 60px;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}
body {
    margin: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1;
}
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -30px;
    padding: 10px;
    border-top: 1px solid black;
    background-color: lightgrey;
}
footer p {
    margin: 0px;
    font-size: 15px;
    padding: 10px;
}

/* header nav styling */
.header-container {
    margin-left: -10px;
    margin-right: -10px;
    margin-top: calc(var(--nav-height) + var(--admin-display-height));
}
.header-container > h1 {
    margin-left: 10px;
}
.top-nav-bar {
    border-bottom: 1px solid lightgrey;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 250px;
    background-color: var(--nav-color);
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--nav-height);
    z-index: 1000;
    margin-bottom: 50px;
}
.top-nav-bar > h1 {
    margin-left: auto;
}
.logo {
    text-decoration: none;
    color: black;
}
.nav-links {
    display: flex;
    margin-right: 20px;
    gap: 75px;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    flex: 0;
}
.nav-links a {
    text-decoration: none;
    color: whitesmoke;
    font-size: var(--header-nav-font-size);
    white-space: nowrap;
}
/* Logout alert message styling */
.logout-msg {
    position: fixed;
    top: 80px;
    left: 0px;
    width: 100%;
    z-index: 1000;

    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 20px; 
    transition: opacity 0.6s ease, transform 1.0s ease;
    font-size: 18px;
    background-color: rgb(255, 152, 152);
    margin-left: -10px;
    margin-right: -10px;
}
/* admin mode display styling */
.admin-mode-display {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: rgb(148, 253, 119);
    font-size: 18px;
    border-top: 0.5px solid lightgrey;

    position: fixed;
    top: 80px;
    height: var(--admin-display-height);
    left: 0;
    z-index: 100;
}
/* Dropdown styling (don't touch this) */
.dropdown {
    min-width: 10em;
    position: relative;
}
.dropdown * {
    box-sizing: border-box;
}
.select {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    cursor: pointer;
    transition: background 0.3s;
}
.select-clicked {
    border: 1px solid black;
    border-radius: 0.5em;
    box-shadow: 0, 0, 0.8em rgba(0, 0, 0, 0.1);
}
.select:hover {
    color: var(--nav-color-list-hover);
    background-color: whitesmoke;
    border-radius: 0.5em;
}
.select:hover span {
    font-size: calc(var(--header-nav-font-size) + 2px);
    color: var(--nav-color-list-hover);
}
.selected {
    font-size: var(--header-nav-font-size);
    color: whitesmoke;
}
.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #aaa;
    transition: 0.4s;
}
.caret-rotate {
    transform: rotate(180deg);
}
.menu {
    list-style: none;
    padding: 0.2em 0.5em;
    background: white;
    border: 1px #363a43 solid;
    border-radius: 0.5em;
    color: black;
    position: absolute;
    top: 2em;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
    font-size: 20px;
}
.menu li {
    padding: 0.7em 0.5em;
    margin: 0.3em;
    border-radius: 0.5em;
    cursor: pointer;
    white-space: wrap;
    color: black;
}
.menu li:hover {
    background: whitesmoke;
    font-size: calc(var(--header-nav-font-size) + 1px);
    color: blue;
}
.active {
    color: blue;
}
.menu-open {
    display: block;
    opacity: 1;
}
/* End of nav styling */

.admin-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
.admin-link:hover {
    cursor: pointer;
    color: var(--nav-color-list-hover);
    background: whitesmoke;
    transition: background 0.3s;
    border-radius: 0.5em;
    font-size: calc(var(--header-nav-font-size) + 2px);
}

/* bottom-right styling */
.floating-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;

    width: 80px;
    height: 80px;
    border-radius: 50%;

    background-color: whitesmoke;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

    /* Transition purpose, below is the initial state */
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 9999;
}
.floating-btn.show {
    /* After scroll > 50 state */
    opacity: 1;
    transform: translateY(0);
}
.floating-btn:hover {
    transform: scale(1.1);
}

/*Styling for this mainpage.html (gonna vibe hard)*/
/* This also uses lots of pre-defined global css style that can be reused in other files */
.global-button {
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
}
.global-img {
    display: block;
    margin: auto;
    margin-top: 10px;
    width: 1000px;
    height: 500px;
}
.global-label {
    font-size: 18px;
}
.global-img-desc {
    text-align: center;
    align-self: center;
}
.global-input {
    padding: 10px;
    width: 30%;
    margin-top: 10px;
}
.global-button:hover {
    cursor: pointer;
    color: var(--primary-button-hover-color);
}
.global-select {
    font-size: 16px;
    padding: 5px;
}
.global-select:hover{
    cursor: pointer;
}
.stock-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}
.stock-info-container div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.stock-list { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin-top: 20px;
}
.stock-link {
    text-decoration: none;
    background: none;
    border: none;
    border-right: 1px solid black;
    color: black;
    font-size: var(--header-nav-font-size);
    white-space: nowrap;
    padding-left: 30px;
    padding-right: 30px;
}
.stock-active {
    font-size: calc(var(--header-nav-font-size) + 5px);
    color: blue;
}
.stock-link:not(.stock-active):hover {
    cursor: pointer;
    font-size: calc(var(--header-nav-font-size) + 2px);
}

/*Styling for admin_login.html*/
.return-home {
    color: black;
    margin-left: 10px;
    font-size: 20px;
    display: inline;
    width: 100%;
}
.return-home:hover {
    cursor: pointer;
    color: blue;
}
.form-container {
    display: block;
    padding: 20px;
    text-align: center;
    border: 2px solid black;
    width: fit-content;
    margin: auto;
    translate: 0px 50px;
    transform: scale(1.2);
}
.label-login {
    font-size: 20px;
    float: left;
}
.input-login {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

/* Styling for admin_page.html (absolute vibe fr) */
.image-admin {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}
.button-redirect-admin {
    display: block;
    text-align: center;
    margin-top: 30px;
    padding: 10px;
}


/* Styling for cofirmation.html (all use global css style so none lol */


/* Styling for waiting_page.html */
.processing-center {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    font-size: 15px;
}
.icon-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon {
    width: 30%;
    height: 30%;
    border-radius: 50%;
    margin-top: 25px;
}
.icon-desc {
    text-align: center;
}
.tip-container {
    display: flex;
    padding: 20px;
    padding-left: 100px;
    padding-right: 100px;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    border-radius: 5px;
    background-color: whitesmoke;
}
.tip-container h3, .tip-container p {
    margin: 0px;
    padding: 5px;
    font-size: 17.5px;
}
.cat-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cat-container img {
    translate: 0px 10px;
    width: 20%;
    height: 1%;    
}

/* Styling for numerical_model.html and nlp_model.html*/
.numerical-parameter-info {
    display: flex;
    justify-content: flex-start;
    font-size: 20px;
    margin-left: 5px;
}
.numerical-scoring-info, .nlp-scoring-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 20px;
    gap: 50px;
    margin-left: 5px;
}
.nlp-parameter-info {
    display: flex;
    justify-content: flex-start;
    font-size: 20px;
    margin-left: 5px;
    gap: 50px;
}
.num-confusion, .nlp-confusion {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.num-confusion div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border: 1px solid black;
}
.nlp-confusion div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border: 1px solid black;
}

/* Reused in nlp_model.html, model_testing.html */
.img-text-display {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    gap: 10px;
}
.image-wrapper img {
    width: 100%;
    height: 400px;
    align-items: center;
    display: block;
    margin: auto;
}
.image-wrapper p {
    text-align: center;
}
/* Reused above ended */

.model-button-position {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Reused in model_testing.html */
.model-button-position button {
    margin: 20px;
}

/* Styling for model_testing.html */
.form-model_testing {
    padding: 10px;
    overflow: hidden;
}
.form-model_testing input {
    font-size: 100%;
    margin-top: 10px;
}
.form-model_testing img {
    float: right;
    width: 20%;
    height: 20%;
    border-radius: 50%;
    margin-right: 50px;
    position: static;
}
.result-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 20px;
    gap: 20px;
    margin-left: 5px;
}
.result-container p {
    margin: 0px;
}
.result-container ul {
    margin: 5px;
}
.result-container h3 {
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.nlp-result-container, .num-result-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.grid-container-num, .grid-container-nlp {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    width: 100%;
    max-width: 200px;
}
.box {
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;    
    border: 2px solid black;
}
/* TODO: Change to grid */
.model-test-img-container {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: auto;
}
.model-test-img-container img {
    width: 100%;
    height: auto;
}
.model-img-text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* about_us.html styling */
.top-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.middle-first-container {
    display: flex;
    justify-content: flex-start;   
    gap: 20px; 
}
.middle-first-container div:nth-child(1) {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.middle-first-container div img {
    width: 50%;
    height: 100%;
}
.middle-first-container div:nth-child(2) {
    flex: 2;
}
